.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated
}

.Tilt {
  display: flex;
  align-items: center;
  border-radius: 16px;
  justify-content: center;
  width: 200px;
  height: 600px;
  
  background-image: linear-gradient(
    150deg,
    #e6e6e0 0%,
    #cac2c2 50%,
    #9e989e 100%
  );
  box-shadow: black 2px 2px;
  transform-style: preserve-3d;
  position: relative;
  z-index: 100;
}

.Tilt-inner {
  transform: translateZ(100px);
  font-size: 30px;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  opacity: 0;
}

.Tilt-inner p {
  font-size: 20px;
  
}

.nextPage {
  margin-top: 5vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
  width: auto;
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 16px;
  padding: 2px;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 3px;
}

.nextPage:hover {
  opacity: 0.6;
  background-color: red;
}
